<div class="p-3" id="sidebar">
    <h3 class="text-center">Gifs- App</h3>

    <div id="linea"></div>
 
    <div class="" *ngFor="let arg of historial" >
      <div class="d-flex flex-row">
        <div class="remove animate__animated animate__fadeInLeftBig" (click) = "clear(arg)">X</div>
        <div 
          class="history animate__animated animate__fadeInLeftBig"
          (click) = "buscar( arg )"
          >
          {{ arg | titlecase}}
        </div>
      </div>


    </div>
  </div>  